<div class="d-flex-customer-info">
    <div class="row">
        <div class="col-md-12">
            <h2 class="details-tab details-title"><%= @customer.name %>'s Details</h2>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-3 col-form-label">Id</label>
        <input class="form-control" type="text" value="<%= @customer.id %>" disabled>
    </div>

    <div class="form-group row">
        <label class="col-3 col-form-label">Name</label>
        <input class="form-control" type="text" value="<%= @customer.name %>" disabled>
    </div>

    <%= form_with(model: Receipt.new, url: system_receipts_path) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :customer_id, value: @customer.id %>
        <%= f.hidden_field :branch_id, value: current_user.branch_id %>
        
        <div class="form-group row">
            <%= f.label 'receipt #', class: "col-md-3 col-form-label required" %>
            <%= f.text_field :number, class: "form-control" %>
        </div>

        <div class="form-group row">
            <%= f.label :total_price, class: "col-md-3 col-form-label required" %>
            <%= f.number_field :total_price, step: :any, class: "form-control"  %>
        </div>

        <div class="row mt-5 actions">
            <div class="btn col-lg-6">
                <%= link_to 'Cancel', cashier_barcode_search_path, class: "btn btn-outline-success" %>
            </div>

            <div class="btn col-lg-6">
                <%= f.submit "Save", class: "btn btn-outline-success" %>
            </div>
        </div>
    <% end %>
</div>