<style>
    main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    overflow-x: auto;
    overflow-y: hidden;
}

main>* {
    flex-shrink: 0;
    min-height: -webkit-fill-available;
}

* {
    font-family: poppins;
    box-sizing: border-box;
}

/* side navigation */

.side-nav-col {
    padding-right: 2px;
}

.user-link a:hover,
.user-link a:focus,
.user-link:hover {
    background-color: none !important;
}

.link-dark {
    color: #2b2b2b;
    font-weight: 400;
    font-size: 18px;
    padding-left: 50px;
}

.d-flex {
    padding-left: 0;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #1ab359;
    color: #fff;
    width: 125px;
    margin: 0 10px;
    height: 40px;
}
.nav-pills .nav-link {
    color: #2b2b2b;
}

.link-dark {
    color: #2b2b2b;
    font-weight: 400;
    font-size: 18px;
    padding-left: 50px;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.nav-pills .nav-link.ac {
    background-color: #00AB47;
    color: #ffffff;
}

/* end of side nav */

.nav-link.ac .fas {
    color: #ffffff;
}

/* side nav icons */

.fas {
    color: #9F9F9F;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}

/* end side nav icons */

/* end of side nav */

/*tabs */

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #1ab359;
    color: #fff;
    width: 125px;
    margin: 0 10px;
    height: 40px;
}

.nav-pills .nav-link {
    color: #2b2b2b;
}

h2 {
    font-size: 19px;
    padding: 10px 0;
    color: #006B2D;
}


/* input feilds */

.form-select {
    width: 50%
}

.form-control {
    text-align:center;
    width: 42%;
    margin-right: 68px;
    margin-left: 70px;
}

.btn-primary {
    background-color: #00AB47;
    border: none;
    width: 40%;
    height: 36px;
}

.btn-primary:hover {
    background-color: #006B2D;
    color: #fff;
}

div.form-group.row {
    text-align: center;
    margin-left: 1px;
    margin-top: 15px;
    width: 100%;
}

.back-btn{
    float: left;
    margin-top: 100px;
    background-color: #00AB47;
    color: white;
    width: 18%;
    height: 36px;
    border: none;
}

.submit-btn{
    float: right;
    margin-top: 100px;
    margin-right: 150px;
    background-color: #00AB47;
    color: white;
    width: 18%;
    height: 36px;
    border: none;
}

.edit-btn {
    float: right;
    margin-bottom: 30px;
}

.btn-outline-secondary {
    padding-top: 1px;
    text-align: center;
    white-space: normal;
    border: 1px solid #ced4da;
    width: 50%;
    height: 36px;
    font-size: 12px;
}

.image-tag{
    margin-top: 16px;
    margin-left: 180px;
    margin-right: 160px;
    float: left;
    max-width: 280px;
    max-height: 257px;
}

.details-tab{
    margin-left: 150px;
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 7px;
}

</style>

<div class="row">
    <div class="col-md-6">
        <h2 class="details-tab"><%= @customer.name %>'s Details</h2>
    </div>
</div>

<form>
    <div class="form-group row">
        <label class="col-md-2 col-form-label">Name</label>
        <input class="form-control" type="text" value="<%= @customer.name %>" disabled>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label">Collected Points</label>
        <input class="form-control" type="text" value="<%= @points_movement.earned %>" disabled>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label">Total Points</label>
        <input class="form-control" type="text" value="<%= @points_movement.total %>" disabled>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label">Price of total points</label>
        <input class="form-control" type="text" value="<%= @points_movement.convert_points_to_price %> L.E" disabled>
    </div>
</form>

<%= form_with(model: PointsMovement.new, url: system_points_movements_path) do |f| %>
    <%= f.hidden_field :customer_id, value: @customer.id %>
    <%= f.hidden_field :branch_id, value: current_user.branch_id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :date_time, value: DateTime.now %>

    <div class="row mt-5 actions">
        <div class="col-lg-6">
            <%= link_to "Cancel", cashier_barcode_search_path, class: "btn btn-outline-success back-btn" %>
        </div>

        <div class="col-lg-6">
            <%= f.submit "Redeem", class: "btn btn-outline-success submit-btn" %>
        </div>
    </div>
<% end %>

<div class="row">
</div>