<div class="d-flex-customer-info">
    <div class="row">
        <div class="col-md-12">
            <h2 class="details-tab  details-title"><%= @customer.name %>'s Details</h2>
        </div>
    </div>

    <form>
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Name</label>
            <input class="form-control" type="text" value="<%= @customer.name %>" disabled>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label">Collected Points</label>
            <input class="form-control" type="text" value="<%= @points_movement.earned %>" disabled>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label">Total Points</label>
            <input class="form-control" type="text" value="<%= @points_movement.total %>" disabled>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label">Total points as cash</label>
            <input class="form-control" type="text" value="<%= @points_movement.convert_points_to_cash %> L.E" disabled>
        </div>
    </form>

    <%= form_with(model: PointsMovement.new, url: system_points_movements_path) do |f| %>
        <%= f.hidden_field :customer_id, value: @customer.id %>
        <%= f.hidden_field :branch_id, value: current_user.branch_id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :date_time, value: DateTime.now %>

        <div class="row mt-5 actions">
            <div class="col-lg-6">
                <%= link_to "Cancel", cashier_barcode_search_path, class: "btn btn-outline-success" %>
            </div>

            <div class="col-lg-6">
                <%= f.submit "Redeem", class: "btn btn-outline-success submit-btn" %>
            </div>
        </div>
    <% end %>
</div>