<div class="col-lg-7">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Name</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Created at</a>
                <a class="dropdown-item" href="#">Updated at</a>
            </div>
        </div>
        <span class="input-group-text input-search" id="addon-wrapping"><i class="fa fa-search"></i> </span>
        <input type="text" class="form-control" aria-label="Text input with dropdown button">
    </div>
</div>
<div class="col-lg-5 main-btns">
    <%= link_to "Add new City", new_system_city_path, class: "btn btn-outline-success btn-sm", style: "padding-top: 7px;" %>
    <button class="btn btn-outline-success btn-sm" type="button">Export as PDF</button>
    <button class="btn btn-outline-success btn-sm" type="button">Export as Excel</button>
</div>
<% content_for :city_index do %>

    <table class="table mt-2">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">City</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
          <% @cities.each do |city| %>
            <tr>
                <th scope="row">
                    <%= link_to city.id, system_city_path(city), style: "color: green" %>
                </th>
                <td><%= link_to city.name, system_city_path(city), style: "color: green" %></td>
                <td class="table-action">
                    <%#= link_to '', system_city_path(city), class: "fa fa-eye" %>
                    <%= link_to '', edit_system_city_path(city), class: "fa fa-edit" %>
                    <%= link_to '', system_city_path(city), class: "fa fa-trash", method: :delete, data: {confirm: "Are you sure?"} %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <%= will_paginate @cities, renderer: BootstrapPagination::Rails %>
<% end %>
    