<% @users.all.each do |user| %>
    <%= user.email %>
    <%= user.created_at %>
<% end %>


    <div class="col-lg-7">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" id="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#"></a>
                <a class="dropdown-item" href="#"></a>
                <a class="dropdown-item" href="#">Email</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Created at</a>
                <a class="dropdown-item" href="#">Updated at</a>
            </div>
        </div>
        <span class="input-group-text input-search" id="addon-wrapping"><i class="fa fa-search"></i> </span>
        <input type="text" class="form-control" aria-label="Text input with dropdown button">
    </div>
</div>
<div class="col-lg-5 main-btns">
        <button class="btn btn-outline-success btn-sm" type="button">Export as PDF</button>
        <button class="btn btn-outline-success btn-sm" type="button">Export as Excel</button>
</div>    


<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Phone number</th>
            <th scope="col">Email</th>
            <th scope="col">Points</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <th scope="row">
                <%= link_to user.id, system_user_path(user), style: "color: green" %>
            </th>
            <td><%= link_to customer.name, system_customer_path(customer), style: "color: green" %></td>
            <td><%= customer.mobile %></td>
            <td><%= customer.email %></td>
            <td><%= customer.points %></td>
            <td class="table-action">
                <%= link_to '', system_customer_path(customer), class: "fa fa-eye" %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>