<style>

/* tabs */

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #1ab359;
    color: #fff;
    width: 125px;
    margin: 0 10px;
    height: 40px;
}

.nav-pills .nav-link {
    color: #2b2b2b;
}

h2 {
    font-size: 18px;
    padding: 10px 0;
    color: #00AB47;
}


/* input feilds */

.form-select {
    width: 50%
}

.form-control {
    width: 50%;
}


/* end of input feilds */

div.form-group.row {
    text-align: center;
    margin-left: 150px;
    margin-top: 16px;
}

.btn-outline-success {
    padding-top: 1px;
    text-align: center;
    white-space: normal;
    border-color: #00AB47;
    width: 50%;
    height: 36px;
    font-size: 16px;
}

.btn-outline-secondary {
    padding-top: 1px;
    text-align: center;
    white-space: normal;
    border: 1px solid #ced4da;
    width: 50%;
    height: 36px;
    font-size: 16px;
}


</style>

<div>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
            <!--form-->
            <div class="row">
                <div class="col-md-3">
                    <h2 style="text-align: center;">Edit Size</h2>
                </div>

            </div>                
                <%= form_with(model: @size, url: system_size_path) do |f| %>
                    <%#= f.hidden_field :id %>
                    <% if @size.errors.any? %>
                        <div id="error_explanation" class="row">
                            <div class="col-md-4">
                                <h3><%= pluralize(@size.errors.count, "error") %> found:</h3>
                                <ul>
                                    <% @size.errors.each do |error| %>
                                        <li><%= error.full_message %></li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    <% end %>

                    <div class="form-group row">
                        <%= f.label :size, class: "col-md-3 col-form-label" %>
                        <%= f.text_field :name, class: "form-control"  %>
                    </div>
                    
                    <div class="row mt-5 actions">
                        <!--btns-->
                        <div class="btn col-lg-6">
                            <%= link_to 'Cancel', system_sizes_path, class: "btn btn-outline-success ", style: "padding-top: 7px;" %>
                        </div>

                        <div class="btn col-lg-6">
                            <%= f.submit "Save", class: "btn btn-outline-success ", style: "padding-top: 7px;" %>
                        </div>
                    </div>
                <% end %>
        </div>
    </div>
</div>