
<div>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
            <!--form-->
            <div class="row">
                <div class="col-md-3">
                    <h2 style="text-align: center;">Add new Size</h2>
                </div>

            </div>                
                <%= form_with(model: @size, url: system_sizes_path) do |f| %>
                    <div class="form-group row">
                        <%= f.label :name, class: "col-md-3 col-form-label required" %>
                        <%= f.text_field :name, class: "form-control"  %>
                    </div>
                    
                    <div class="row mt-5 actions">
                        <!--btns-->
                        <div class="btn col-lg-6">
                            <%= link_to 'Cancel', system_sizes_path, class: "btn btn-outline-success ", style: "padding-top: 7px;" %>
                        </div>

                        <div class="btn col-lg-6">
                            <%= f.submit "Save", class: "btn btn-outline-success ", style: "padding-top: 7px;" %>
                        </div>
                    </div>
                <% end %>
        </div>

    </div>
</div>