<div class="col-lg-7">
    <div class="row">
        <div class="col-md-3">
            <%= link_to "Clear Search", system_offers_path, class: "btn btn-outline-success btn-sm" %>
        </div>
        <div class="col-md-4">
            <%= form_for "", url: system_offers_path, role: "search", method: :get do %>
                <%= text_field_tag :search, @search_term, placeholder: "Search by... Id or state", style: "text-align: center;" %>
            <% end %>
        </div>
    </div>
</div>

<div class="col-lg-5 main-btns">
    <%= link_to "Add new Offer", new_system_offer_path, class: "btn btn-outline-success btn-sm", style: "padding-top: 7px;" %>
</div>

<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">state</th>
            <th scope="col">End At</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @offers.each do |offer| %>
        <tr>
            <th scope="row">
                <%= link_to offer.id, system_offer_path(offer), style: "color: green" %>
            </th>
            <td><%= link_to offer.title, system_offer_path(offer), style: "color: green" %></td>
            <td><%= offer.state %></td>
            <td><%= offer.end_at.strftime("%I:%M %p %a, %d %b %Y") %></td>
            <td class="table-action">
                <%= link_to '', system_offer_path(offer), class: "fa fa-eye" %>
                <%= link_to '', edit_system_offer_path(offer), class: "fa fa-edit" %>
                <%= link_to '', system_offer_path(offer), class: "fa fa-trash", method: :delete, data: {confirm: "Are you sure?"} %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
