
<div>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
            <!--form-->
            <div class="row">
                <div class="col-md-3">
                    <h2 style="text-align: center;">Add new Offer</h2>
                </div>

            </div>                
            <%= form_with(model: @offer, url: system_offers_path) do |f| %>
                
                <div class="form-group row">
                    <%= f.label :title, class: "col-md-3 col-form-label required" %>
                    <%= f.text_field :title, class: "form-control"  %>
                </div>

                <div class="form-group row">
                    <%= f.label :start_at, class: "col-md-3 col-form-label required" %>
                    <%= f.datetime_field :start_at, class: "form-control" %>
                </div>

                <div class="form-group row">
                    <%= f.label :end_at, class: "col-md-3 col-form-label required" %>
                    <%= f.datetime_field :end_at, class: "form-control" %>
                </div>

                <div class="form-group row">
                    <%= f.label :description, class: "col-md-3 col-form-label required" %>
                    <%= f.text_area :description, class: "form-control"  %>
                </div>

                <div class="form-group row">
                    <%= f.label :image, class: "col-md-3 col-form-label required" %>
                    <%= image_tag f.object.image_url, style: "max-width: 280px;"  if f.object.image_was %>
                    <%= f.hidden_field :image, value: f.object.image_was %>
                    <%= f.file_field :image, class: "form-control" %>
                </div>
                
                <div class="row mt-5 actions">
                    <!--btns-->
                    <div class="btn col-lg-6">
                        <%= link_to 'Cancel', system_offers_path, class: "btn btn-outline-success ", style: "padding-top: 7px; font-size: 18px;" %>
                    </div>

                    <div class="btn col-lg-6">
                        <%= f.submit "Save", class: "btn btn-outline-success ", style: "padding-top: 7px;font-size: 18px;" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>