<div class="show-card">
    <div class="row">
        <div class="col-4">
            <h2 class="details-tab card-title">Basic Info</h2>
        </div>
        <div class="col-md-6">
            <%= link_to "Edit", edit_system_offer_path(@offer), class: "btn btn-primary edit-btn" %>
        </div>
    </div>

    <div class="form-group row" style="text-align:center;">
        <label for="offer_id" class="col-md-2 col-form-label">Id</label>
        <input type="number" class="form-control" id="offer_id" value="<%= @offer.id %>" disabled>
    </div>

    <div class="form-group row">
        <label for="formGroupExampleInput2" class="col-md-2 col-form-label">Title</label>
        <input class="form-control" id="form-label" type="text" value="<%= @offer.title %>" disabled>
    </div>

    <div class="form-group row">
        <label for="formGroupExampleInput2" class="col-md-2 col-form-label">State</label>
        <input class="form-control" id="form-label" type="text" value="<%= @offer.state %>" disabled>
    </div>
    
    <div class="form-group row">
        <label class="col-md-2 col-form-label">Start at</label>
        <input class="form-control" type="text" value="<%= @offer.start_at.strftime("%I:%M %p %a, %d %b %Y") %>" disabled>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label">End at</label>
        <input class="form-control" type="text" value="<%= @offer.end_at.strftime("%I:%M %p %a, %d %b %Y") %>" disabled>
    </div>

    <div class="form-group row">
        <label for="formGroupExampleInput2" class="col-md-2 col-form-label">Description</label>
        <textarea class= "form-control" id= "form-label" type= "text" disabled><%= @offer.description.gsub('<p>', '').gsub('</p>', '').html_safe %></textarea>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label">Created at</label>
        <input class="form-control" type="text" value="<%= @offer.created_at.strftime("%I:%M %p %a, %d %b %Y") %>" disabled>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label">Updated at</label>
        <input class="form-control" type="text" value="<%= @offer.updated_at.strftime("%I:%M %p %a, %d %b %Y") %>" disabled>
    </div>

    <div class="form-group row">
        <label for="formGroupExampleInput2" class="col-md-2 col-form-label">Image</label>
        <%= image_tag @offer.image.url, class: "image-tag", id: "form-label" if @offer.image.url %>
    </div>

    <div class="form-group row mb-5 pb-5">
        <div class="col-lg-12">
            <%= link_to "Back", system_offers_path, class: "btn btn-outline-success back-btn" %>
        </div>
    </div>
</div>