
<div class="row">
    <div class="col-md-9">
        <h2 class="details-tab">Send new SMS</h2>
    </div>
</div>
<div class="row sms-form">
    <div class="col-md-9">
        <%= form_with(model: @sms_message, url: system_sms_messages_path) do |f| %>
            <div class="form-group row">
                <%= f.label :message, class: "col-md-3 col-form-label required" %>
                <%= f.text_area :message, class: "form-control", style: "min-width: 100%"  %>
            </div>
            
            <div class="row mt-5 actions">
                <!--btns-->
                <div class="btn col-lg-6">
                    <%= link_to 'Cancel', system_sms_messages_path, class: "btn btn-outline-success ", style: "padding-top: 7px; font-size: 18px;" %>
                </div>

                <div class="btn col-lg-6">
                    <%= f.submit "Send", class: "btn btn-outline-success ", style: "padding-top: 7px;font-size: 18px;" %>
                </div>
            </div>
        <% end %>
    </div>
</div>
