<div class="col-lg-7">
    <div class="row">
        <div class="col-md-3 main-btns">
            <%= link_to "Clear Search", users_index_path, class: "btn btn-outline-success ", type: "button" %>
        </div>
        <div class="col-md-4">
            <%= form_for "", url: users_index_path, role: "search", method: :get do %>
                <%= text_field_tag :search, @search_term, placeholder: "Search by id or name or mobile or email or branch", 
                    style: "text-align: center;" %>
            <% end %>
        </div>
    </div>
</div>
<div class="col-lg-5 main-btns">
    <%= link_to "Add new User", users_new_path, class: "btn btn-outline-success ", style: "padding-top: 7px;", type: "button" %>
    <%= link_to "View PDF", users_index_path(format: :pdf, page: params[:page]), class: "btn btn-outline-success ", type: "button"  %>
</div>    


<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Branch</th>
            <th scope="col">Created at</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <th scope="row">
                <%= user.id %>
            </th>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.role.name %></td>
            <td><%= user.branchName if user.branch_id %></td>
            <td><%= user.created_at.strftime("%I:%M %P %A, %d %b %Y") %></td>
                <td class="table-action">
            <% unless user.role.name.eql?("Super") %>
                <%= link_to '', destroy_user_path(user), method: :delete, data: {confirm: "Are you sure?"}, 
                        class: "fa fa-trash" %>
            <% end %>
                </td>
        </tr>
    <% end %>
    </tbody>
</table>