<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Branch</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <th scope="row">
                    <%= user.id %>
                </th>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.role.name %></td>
                <td><%= user.branchName if user.branch_id %></td>
            </tr>
        <% end %>
    </tbody>
</table>