<div class="d-flex flex-column p-3">
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">

        <li>
            <a href="<%= system_root_path %>" class="nav-link link-dark <%= is_active?(system_root_path) %>">
                <i class="fas fa-home"></i> Home</a>
        </li>
        <li>
            <a href="<%= system_customers_path %>" class="nav-link link-dark <%= is_active?(system_customers_path) %>">
                <i class="fas fa-user"></i> Customers</a>
        </li>
        <li>
            <a href="<%= system_users_index_path %>" class="nav-link link-dark <%= is_active?(system_users_index_path) %>">
                <i class="fas fa-user-tie"></i> System Users</a>
        </li>

        <li>
            <a href="<%= system_cities_path%>" class="nav-link link-dark <%= is_active?(system_cities_path) %>">
                <i class="fas fa-city"></i> Cities</a>
        </li>

        <li>
            <a href="<%= system_branches_path %>" class="nav-link link-dark <%= is_active?(system_branches_path) %>">
                <i class="fas fa-map-marker-alt"></i> Branches</a>
        </li>

        <li>
            <a href="<%= system_sms_messages_path %>" class="nav-link link-dark <%= system_sms_messages_path %>">
                <i class="fas fa-envelope"></i> SMS</a>
        </li>
        <li>
            <a href="<%= system_notifications_path %>" class="nav-link link-dark <%= is_active?(system_notifications_path) %>">
                <i class="fas fa-bell"></i> Notifications</a>
        </li>
        <li>
            <a href="<%= system_receipts_path %>" class="nav-link link-dark">
                <i class="fas fa-receipt"></i> Receipts</a>
        </li>
        
        <li>
            <a href="<%= system_points_movements_path %>" class="nav-link link-dark">
                <i class="fas fa-sync"></i> Points Movements</a>
        </li>
        
        <li>
            <a href="<%= system_brands_path %>" class="nav-link link-dark <%= is_active?(system_brands_path) %>">
                <i class="fas fa-tag"></i>Brands</a>
        </li>
        <li>
            <a href="<%= system_categories_path %>" class="nav-link link-dark <%= is_active?(system_categories_path) %>">
                <i class="fas fa-th-large"></i> Categories</a>
        </li>
        <li>
            <a href="<%= system_items_path %>" class="nav-link link-dark <%= is_active?(system_items_path) %>">
                <i class="fas fa-list-ul"></i> Items</a>
        </li>
        <li>
            <a href="<%= system_sizes_path %>" class="nav-link link-dark <%= is_active?(system_sizes_path) %>">
                <i class="fas fa-list-ol"></i> Sizes</a>
        </li>

        <li>
            <a href="<%= system_offers_path %>" class="nav-link link-dark <%= is_active?(system_offers_path) %>">
                <i class="fas fa-percent"></i> Offers</a>
        </li>

         <li>
            <a href="<%= system_offer_carosel_images_path %>" class="nav-link link-dark <%= is_active?(system_offer_carosel_images_path) %>">
                <i class="fas fa-list-ol"></i> Offer Carosel Images</a>
        </li>
        
        <li>
            <a href="<%= system_settings_path %>" class="nav-link link-dark <%= is_active?(system_settings_path) %>">
                <i class="fas fa-info-circle"></i> Settings</a>
        </li>
        
        <!-- <li>
            <a href="Permissions.html" class="nav-link link-dark">
                <i class="fas fa-tag"></i>Permissions</a>
        </li> -->
    </ul>
</div>