<div class="nested-fields">
    <%= f.hidden_field :_destroy %>

    <div class="form-group row">
        <%= f.label :size, class: "col-md-3 col-form-label" %>
        <%= f.collection_select :size_id, Size.order(:name), :id, :name,{ include_blank: true }, 
        { class: "btn btn-outline-secondary dropdown-toggle", style: "font-size: 18px" } %>
    </div>

    <div class="form-group row">
        <%= f.label :price, class: "col-md-3 col-form-label" %>
        <%= f.number_field :price, step: :any, class: "form-control" %>
    </div>

    <div class="form-group row">
        <%= link_to "Remove", system_item_size_path(@item_size), method: :delete, data: {confirm: "Are you sure?"}, 
            class: "remove_fields btn btn-outline-success btn-sm" %>
    </div>
</div>
