    <div class="col-lg-7">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Name</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Created at</a>
                <a class="dropdown-item" href="#">Updated at</a>
            </div>
        </div>
        <span class="input-group-text input-search" id="addon-wrapping"><i class="fa fa-search"></i> </span>
        <input type="text" class="form-control" aria-label="Text input with dropdown button">
    </div>
</div>
<div class="col-lg-5 main-btns">
    <%= link_to "Add new Item", new_system_item_path, class: "btn btn-outline-success btn-sm", style: "padding-top: 7px;" %>
    <button class="btn btn-outline-success btn-sm" type="button">Export as PDF</button>
    <button class="btn btn-outline-success btn-sm" type="button">Export as Excel</button>
</div>

<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Brand</th>
            <th scope="col">Created At</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @items.each do |item| %>
        <tr>
            <th scope="row">
                <%= link_to item.id, system_item_path(item), style: "color: green" %>
            </th>
            <td><%= link_to item.name, system_item_path(item), style: "color: green" %></td>
            <td><%= link_to item.categoryName, system_category_path(item.category), style: "color: green" %></td>
            <td><%= link_to item.brandName, system_brand_path(item.brandName), style: "color: green" %></td>
            <td><%= item.created_at %></td>
            <td class="table-action">
                <%= link_to '', system_item_path(item), class: "fa fa-eye" %>
                <%= link_to '', edit_system_item_path(item), class: "fa fa-edit" %>
                <%= link_to '', system_item_path(item), method: :delete, data: {confirm: "Are you sure?"}, class: "fa fa-trash" %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
