
<div class="show-card">
    <div class="row">
        <div class="col-5">
            <h2 class="details-tab card-title">Basic Info</h2>
        </div>
        <div class="col-4">
            <%= link_to "Edit", edit_system_item_path(@item), class: "btn btn-primary edit-btn" %>
        </div>
    </div>

    <form>
        <div class="form-group row">
            <label class="col-2 col-form-label">Id</label>
            <input type="number" class="form-control" id="item_id" value="<%= @item.id %>" disabled>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Name</label>
            <input class="form-control" id="form-label" type="text" value="<%= @item.name %>" disabled>
        </div>

        <% @item.item_sizes.all.each do |item_size| %>
            <div class="form-group row">
                <label class="col-2 col-form-label">Size and price</label>
                <input class="form-control" id="form-label" type="text" value="<%= item_size.size_with_price %>" disabled>
            </div>
        <% end %>

        <div class="form-group row">
            <label class="col-2 col-form-label">Brand</label>
            <%= link_to @item.brandName, system_brand_path(@item.brand), style: "color: green;", class: "form-control" %>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Category</label>
            <%= link_to @item.categoryName, system_category_path(@item.category), style: "color: green;", class: "form-control" %>
        </div>

        <div class="form-group row">
            <label for="formGroupExampleInput2" class="col-md-2 col-form-label">Description</label>
            <textarea class= "form-control" id= "form-label" type= "text" disabled>
                <%= @item.description.html_safe.gsub('<p>', '').gsub('</p>', '').html_safe %>
            </textarea>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label">Created at</label>
            <input class="form-control" type="text" value="<%= @item.created_at.strftime("%I:%M %p %a, %d %b %Y") %>items" disabled>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label">Updated at</label>
            <input class="form-control" type="text" value="<%= @item.updated_at.strftime("%I:%M %p %a, %d %b %Y") %>" disabled>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Image</label>
            <%= image_tag @item.image.url, class: "form-control image-tag" %>
        </div>

        <div class="form-group row mb-5">
            <div class="col-9">
                <%= link_to "Back", system_items_path, class: "btn btn-outline-success back-btn" %>
            </div>
        </div>
    </form>

</div>