<style>

/* tabs */

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #1ab359;
    color: #fff;
    width: 125px;
    margin: 0 10px;
    height: 40px;
}

.nav-pills .nav-link {
    color: #2b2b2b;
}

h2 {
    font-size: 18px;
    padding: 10px 0;
    color: #006B2D;
}


/* input feilds */

.form-select {
    width: 50%
}

.form-control {
    text-align:center;
    width: 42%;
    margin-right: 55px;
    margin-left: 70px;
}

.image-tag{
    margin-top: 16px;
    margin-left: 450px;
    float: left;
    max-width: 280px;
    max-height: 257px;
}

.file-field {
    text-align: center;
    width: 36%;
    margin-left: 92px;
    margin-right: 95px;
}


/* end of input feilds */

div.form-group.row {
    text-align: center;
    margin-left: 5px;
    margin-top: 16px;
}

.btn-outline-success {
    padding-top: 1px;
    text-align: center;
    white-space: normal;
    border-color: #00AB47;
    width: 50%;
    height: 36px;
    font-size: 16px;
}

.btn-outline-secondary {
    padding-top: 1px;
    text-align: center;
    white-space: normal;
    border: 1px solid #ced4da;
    width: 50%;
    height: 36px;
    font-size: 16px;
}


</style>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
        <!--form-->
        <div class="row">
            <div class="col-md-3">
                <h2 style="text-align: center;">Edit Brand</h2>
            </div>

        </div>                
            <%= form_with(model: @brand, url: system_brand_path) do |f| %>
                <div class="row">
                    <% if @brand.errors.any? %>
                        <div id="error_explanation">
                            <h2><%= pluralize(@brand.errors.count, "error") %> found:</h2>
                            <ul>
                                <% @brand.errors.each do |error| %>
                                    <li><%= error.full_message %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>
                </div>

                <div class="form-group row">
                    <%= f.label :name, class: "col-md-3 col-form-label" %>
                    <%= f.text_field :name, class: "form-control"  %>
                </div>

                <div class="form-group row">
                    <%= f.label :image, class: "col-md-3 col-form-label" %>
                    <%= f.file_field :image, class: "form-control file-field" %>
                    <%= f.hidden_field :image, value: f.object.image_was %>
                </div>
                
                <div class="form-group row">
                    <%= image_tag @brand.image.url, class: "form-control image-tag col-lg-2" if @brand.image.url %>
                </div>
                
                <div class="row mt-5 actions">
                    <!--btns-->
                    <div class="btn col-lg-6">
                        <%= link_to 'Cancel', system_brands_path, class: "btn btn-outline-success btn-sm", style: "padding-top: 7px;" %>
                    </div>

                    <div class="btn col-lg-6">
                        <%= f.submit "Save", class: "btn btn-outline-success btn-sm", style: "padding-top: 7px;" %>
                    </div>
                </div>
            <% end %>
    </div>

</div>