<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @brands.each do |brand| %>
        <tr>
            <th scope="row">
                <%= link_to brand.id, system_brand_path(brand), style: "color: green" %>
            </th>
            <td><%= link_to brand.name, system_brand_path(brand), style: "color: green" %></td>
            <td class="table-action">
                <%= link_to '', system_brand_path(brand), class: "fa fa-eye" %>
                <%= link_to '', edit_system_brand_path(brand), class: "fa fa-edit" %>
                <%= link_to '', system_brand_path(brand), class: "fa fa-trash", method: :delete, data: {confirm: "Are you sure?"} %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
