<div class="row">
    <div class="col-md-6">
        <h2 class="details-tab">Edit Offer Carosel Image</h2>
    </div>
</div>

<%= form_with(model: @offer_carosel_image, url: system_offer_carosel_image_path) do |f| %>

    <div class="form-group row">
        <%= f.label :image, class: "col-md-3 col-form-label" %>
        <%= image_tag @offer_carosel_image.image_url, style: "max-width: 280px;max-height: 257px;" if @offer_carosel_image.image_url %>
        <%= f.hidden_field :image, value: f.object.image_was %>
        <%= f.file_field :image, class: "form-control" %>
    </div>
    
    <div class="row mt-5 actions">
        <!--btns-->
        <div class="btn col-lg-6">
            <%= link_to 'Cancel', system_offer_carosel_images_path, class: "btn btn-outline-success ", style: "padding-top: 7px;" %>
        </div>

        <div class="btn col-lg-6">
            <%= f.submit "Save", class: "btn btn-outline-success ", style: "padding-top: 7px;" %>
        </div>
    </div>
<% end %>
