<style>

/* tabs */

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #1ab359;
    color: #fff;
    width: 125px;
    margin: 0 10px;
    height: 40px;
}

.nav-pills .nav-link {
    color: #2b2b2b;
}

h2 {
    font-size: 18px;
    padding: 10px 0;
    color: #00AB47;
}


/* input feilds */

.form-select {
    width: 50%
}

.form-control {
    text-align:center;
    width: 42%;
    margin-right: 55px;
    margin-left: 70px;
}

.image-tag{
    margin-top: 16px;
    margin-left: 340px;
    margin-right: 160px;
    float: left;
    max-width: 280px;
    max-height: 257px;
}

.file-field {
    text-align: center;
    width: 36%;
    margin-left: 92px;
    margin-right: 95px;
}


/* end of input feilds */

div.form-group.row {
    text-align: center;
    margin-left: 5px;
    margin-top: 16px;
}

.btn-outline-success {
    padding-top: 1px;
    text-align: center;
    white-space: normal;
    border-color: #00AB47;
    width: 50%;
    height: 36px;
    font-size: 16px;
}

.btn-outline-secondary {
    padding-top: 1px;
    text-align: center;
    white-space: normal;
    border: 1px solid #ced4da;
    width: 50%;
    height: 36px;
    font-size: 16px;
}

.details-tab{
    margin-left: 150px;
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 7px;
}

.dropdown-toggle{
    text-align: center;
    width: 36%;
    margin-left: 92px;
    margin-right: 95px; 
}

</style>

<div class="row">
    <div class="col-md-6">
        <h2 class="details-tab">Edit Offer Carosel Image</h2>
    </div>
</div>

<% if @offer_carosel_image.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@offer_carosel_image.errors.count, "error") %> found:</h2>
        <ul>
            <% @offer_carosel_image.errors.each do |error| %>
                <li><%= error.full_message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_with(model: @offer_carosel_image, url: system_offer_carosel_image_path) do |f| %>

    <div class="form-group row">
        <%= f.label :image, class: "col-md-3 col-form-label" %>
        <%= image_tag @offer_carosel_image.image_url, style: "max-width: 280px;max-height: 257px;" if @offer_carosel_image.image_url %>
        <%= f.hidden_field :image, value: f.object.image_was %>
        <%= f.file_field :image, class: "form-control" %>
    </div>
    
    <div class="row mt-5 actions">
        <!--btns-->
        <div class="btn col-lg-6">
            <%= link_to 'Cancel', system_offer_carosel_images_path, class: "btn btn-outline-success ", style: "padding-top: 7px;" %>
        </div>

        <div class="btn col-lg-6">
            <%= f.submit "Save", class: "btn btn-outline-success ", style: "padding-top: 7px;" %>
        </div>
    </div>
<% end %>
