
<div class="row">
    <div class="col-md-6">
        <h2 class="details-tab">Add new Offer Carosel Image</h2>
    </div>
</div>

<%= form_with(model: @offer_carosel_image, url: system_offer_carosel_images_path) do |f| %>

    <div class="form-group row">
        <%= f.label :image, class: "col-md-3 col-form-label required" %>
        <%= image_tag f.object.image_url, style: "max-width: 280px;"  if f.object.image_was %>
        <%= f.hidden_field :image, value: f.object.image_was %>
        <%= f.file_field :image, class: "form-control" %>
    </div>
    
    <div class="row mt-5 mb-5 actions">
        <!--btns-->
        <div class="btn col-lg-6">
            <%= link_to 'Cancel', system_offer_carosel_images_path, class: "btn btn-outline-success " %>
        </div>

        <div class="btn col-lg-6">
            <%= f.submit "Save", class: "btn btn-outline-success " %>
        </div>
    </div>
<% end %>
