<div class="show-card">
    <div class="row">
        <div class="col-md-5">
            <h2 class="details-tab card-title"><%= @customer.name %>'s Details</h2>
        </div>
        <div class="col-md-6">
            <%= link_to "View PDF", system_customer_path(@customer, format: :pdf), class: "btn btn-primary", type: "button" %>
        </div>    
    </div>

    <form>
        <div class="form-group row">
            <label class="col-3 col-form-label">Id</label>
            <input class="form-control" type="text" value="<%= @customer.id %>" disabled>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">Name</label>
            <input class="form-control" type="text" value="<%= @customer.name %>" disabled>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">Mobile</label>
            <input class="form-control" type="text" value="<%= @customer.mobile %>" disabled>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">Email</label>
            <input class="form-control" type="text" value="<%= @customer.email %>" disabled>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">Activated Account</label>
            <input class="form-control" type="text" value="<%= @customer.is_activated? %>" disabled>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">Created at</label>
            <input class="form-control" type="text" value="<%= @customer.created_at.strftime("%I:%M %p %a, %d %b %Y") %>" disabled>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">Updated at</label>
            <input class="form-control" type="text" value="<%= @customer.updated_at.strftime("%I:%M %p %a, %d %b %Y") %>" disabled>
        </div>

        <div class="row">
            <div class="col-md-6 mt-5">
                <h2 class="details-tab">Points</h2>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-3 col-form-label">Total Points</label>
            <input class="form-control" type="text" value="<%= @customer.points %>" disabled>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">Points as cash</label>
            <% if @points_movement %>
                <input class="form-control" type="text" value="<%= @points_movement.convert_points_to_cash %> L.E" disabled>
            <% else %>
                <input class="form-control" type="text" value="0 L.E" disabled>
            <% end %>
        </div>
    </form>
    <div class="row mb-5">
        <div class="col-9">
            <%= link_to "Back", system_customers_path, class: "btn btn-outline-success back-btn" %>
        </div>
    </div>
</div>