<div class="col-lg-7">
    <div class="row">
        <div class="col-md-3 main-btns">
            <%= link_to "Clear Search", system_roles_path, class: "btn btn-outline-success btn-sm", type: "button" %>
        </div>
        <div class="col-md-4">
            <%= form_for "", url: system_roles_path, role: "search", method: :get do %>
                <%= text_field_tag :search, @search_term, placeholder: "Search by id or name", style: "text-align: center;" %>
            <% end %>
        </div>
    </div>
</div>


<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Created at</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @roles.each do |role| %>
        <tr>
            <th scope="row">
                <%= role.id %>
            </th>
            <td><%= role.name %></td>
            <td><%= role.created_at.strftime("%A, %d %b %Y @ %H:%M:%S") %></td>
            <td class="table-action">
                <%= link_to '', system_role_path(role), class: "fa fa-eye" %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>