<style>

/* h2 {
    font-size: 18px;
    padding: 10px 0;
    color: #006B2D;
} */

 .btn-outline-success {
    padding-top: 1px;
    text-align: center;
    white-space: normal;
    border-color: #00AB47;
    width: 50%;
    height: 36px;
    font-size: 16px;
}


.btn-outline-secondary {
    padding-top: 1px;
    text-align: center;
    white-space: normal;
    border: 1px solid #ced4da;
    width: 50%;
    height: 36px;
    font-size: 16px;
}

.dropdown-toggle{
    max-width: 36%;
    margin-left: 120px;
    margin-right: 115px;
}

</style>

<% if @branch.errors.any? %>
    <div id="error_explanation">
        <h2 style= "color:red;"><%= pluralize(@branch.errors.count, "error") %> found:</h2>
        <ul>
            <% @branch.errors.each do |error| %>
            <li style= "color:red;"><%= error.full_message %></li>
            <% end %>
        </ul>
    </div>
<% end %>
    
<div class="row">
    <div class="col-md-6">
        <h4 class="details-tab">Add new Branch</h4>
    </div>
</div> 

<%= form_with(model: @branch, url: system_branches_path) do |f| %>

    <div class="form-group row">
        <%= f.label :branch_name, class: "col-md-2 col-form-label required" %>
        <%= f.text_field :name, class: "form-control"  %>
    </div>

    <div class="form-group row">
        <%= f.label :address, class: "col-md-2 col-form-label required" %>
        <%= f.text_field :address, class: "form-control"  %>
    </div>

    <div class="form-group row">
        <%= f.label :latitude, class: "col-md-2 col-form-label required" %>
        <%= f.text_field :latitude, class: "form-control"  %>
    </div>

    <div class="form-group row">
        <%= f.label :longitude, class: "col-md-2 col-form-label required" %>
        <%= f.text_field :longitude, class: "form-control"  %>
    </div>

    <div class="form-group row">
        <%= f.label :link, class: "col-md-2 col-form-label required" %>
        <%= f.text_field :link, class: "form-control"  %>
    </div>

    <div class="form-group row">
        <%= f.label :city, class: "col-md-2 col-form-label required" %>
        <%= f.collection_select :city_id, City.order(:name), :id, :name,{ include_blank: true }, { class: "btn btn-outline-secondary dropdown-toggle", style: "font-size: 18px" } %>
    </div>
    
    <div class="row mt-5 mb-5 actions">
        <!--btns-->
        <div class="btn col-lg-6">
            <%= link_to 'Cancel', system_branches_path, class: "btn btn-outline-success btn-sm", style: "padding-top: 7px;" %>
        </div>

        <div class="btn col-lg-6">
            <%= f.submit "Save", class: "btn btn-outline-success btn-sm", style: "padding-top: 7px;" %>
        </div>
    </div>
<% end %>