<div class="row">
    <div class="col-md-6">
        <h4 class="details-tab">Add new Branch</h4>
    </div>
</div> 

<%= form_with(model: @branch, url: system_branches_path) do |f| %>

    <div class="form-group row">
        <%= f.label :branch_name, class: "col-md-2 col-form-label required" %>
        <%= f.text_field :name, class: "form-control"  %>
    </div>

    <div class="form-group row">
        <%= f.label :address, class: "col-md-2 col-form-label required" %>
        <%= f.text_field :address, class: "form-control"  %>
    </div>

    <div class="form-group row">
        <%= f.label :latitude, class: "col-md-2 col-form-label required" %>
        <%= f.text_field :latitude, class: "form-control"  %>
    </div>

    <div class="form-group row">
        <%= f.label :longitude, class: "col-md-2 col-form-label required" %>
        <%= f.text_field :longitude, class: "form-control"  %>
    </div>

    <div class="form-group row">
        <%= f.label :link, class: "col-md-2 col-form-label required" %>
        <%= f.text_field :link, class: "form-control"  %>
    </div>

    <div class="form-group row">
        <%= f.label :city, class: "col-md-3 col-form-label required" %>
        <%= f.collection_select :city_id, City.order(:name), :id, :name, { inlcude_blank: true }, 
        { class: "dropdown-toggle", style: "padding-top: 7px; font-size: 16px; max-width: 30%;color:green;" } %>
    </div>
    
    <div class="row mt-5 mb-5 actions">
        <!--btns-->
        <div class="btn col-lg-6">
            <%= link_to 'Cancel', system_branches_path, class: "btn btn-outline-success ", style: "padding-top: 7px;" %>
        </div>

        <div class="btn col-lg-6">
            <%= f.submit "Save", class: "btn btn-outline-success ", style: "padding-top: 7px;" %>
        </div>
    </div>
<% end %>