<div class="show-card">
    <div class="row">
        <div class="col-md-5">
            <h2 class="details-tab card-title"><%= @branch.name %>'s Details</h2>
        </div>
        <div class="col-md-4">
            <%= link_to "Edit", edit_system_branch_path(@branch), class: "btn btn-primary edit-btn" %>
        </div>
    </div>

    <form>
        <div class="form-group row">
            <label class="col-3 col-form-label">Id</label>
            <input class="form-control" type="text" value="<%= @branch.id %>" disabled>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">Name</label>
            <input class="form-control" type="text" value="<%= @branch.name %>" disabled>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">Address</label>
            <input class="form-control" type="text" value="<%= @branch.address %>" disabled>
        </div>

            <div class="form-group row">
            <label class="col-3 col-form-label">City</label>
            <input class="form-control" type="text" value="<%= @branch.cityName %>" disabled>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">Link</label>
            <input class="form-control" id="branch_link_id" type="text" value="<%= @branch.link.gsub("\n", '<br>').html_safe %>" readonly>
        </div>
        
        <div class="row">
            <div class="col-5">
                <button onclick="copyLink()" class="btn btn-outline-success copy-link" id="copy-button">Copy Link</button>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">Longitude</label>
            <input class="form-control" type="text" value="<%= @branch.longitude %>" disabled>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">Latitude</label>
            <input class="form-control" type="text" value="<%= @branch.latitude%>" disabled>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">Created at</label>
            <input class="form-control" type="text" value="<%= @branch.created_at.strftime("%I:%M %p %A, %d %b %Y") %>" disabled>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">Updated at</label>
            <input class="form-control" type="text" value="<%= @branch.updated_at.strftime("%I:%M %p %A, %d %b %Y") %>" disabled>
        </div>

    </form>

    <div class="form-group row mb-5">
        <div class="col-9">
            <%= link_to "Back", system_branches_path, class: "btn btn-outline-success back-btn" %>
        </div>
    </div>
</div>

<script>
    function copyLink() {
        event.preventDefault();
        var branch_link = document.getElementById("branch_link_id");
        var copy_button = document.getElementById("copy-button");
        branch_link.focus();
        branch_link.select();
        branch_link.setSelectionRange(0, 999999);
        document.execCommand("copy");
        alert("Link copied!");
    }
</script>