    <div class="col-lg-7">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
            <div class="dropdown-menu">
                <a class="dropdown-item_size" href="#">Item</a>
                <a class="dropdown-item_size" href="#">Size</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item_size" href="#">Created at</a>
                <a class="dropdown-item_size" href="#">Updated at</a>
            </div>
        </div>
        <span class="input-group-text input-search" id="addon-wrapping"><i class="fa fa-search"></i> </span>
        <input type="text" class="form-control" aria-label="Text input with dropdown button">
    </div>
</div>
<div class="col-lg-5 main-btns">
    <%= link_to "Add new Item Size", new_system_item_size_path, class: "btn btn-outline-success btn-sm", style: "padding-top: 7px;" %>
    <button class="btn btn-outline-success btn-sm" type="button">Export as PDF</button>
    <button class="btn btn-outline-success btn-sm" type="button">Export as Excel</button>
</div>

<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Item</th>
            <th scope="col">Size</th>
            <th scope="col">Price</th>
            <th scope="col">Created At</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @item_sizes.each do |item_size| %>
        <tr>
            <th scope="row">
                <%= link_to item_size.id, system_item_size_path(item_size), style: "color: green" %>
            </th>
            <td><%= link_to item_size.item.name, system_item_path(item_size.item), style: "color: green" %></td>
            <td><%= link_to item_size.size.name, system_size_path(item_size.size), style: "color: green" %></td>
            <td><%= item_size.size.price %></td>
            <td><%= item_size.created_at.strftime("%A, %d %b %Y @ %H:%M:%S") %></td>
            <td class="table-action">
                <%= link_to '', system_item_size_path(item_size), class: "fa fa-eye" %>
                <%= link_to '', edit_system_item_size_path(item_size), class: "fa fa-edit" %>
                <%= link_to '', system_item_size_path(item_size), class: "fa fa-trash", method: :delete, data: {confirm: "Are you sure?"} %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
