<%= form_with(model: @item_size, url: system_item_sizes_path) do |f| %>
    <div class="form-group row">
        <%= f.label :item, class: "col-md-3 col-form-label required" %>
        <%= f.collection_select :item_id, Item.order(:name), :id, :name,{ include_blank: true }, { class: "btn btn-outline-secondary dropdown-toggle", style: "font-size: 18px" } %>
    </div>

    <div class="form-group row">
        <%= f.label "Size and Price", class: "col-md-3 col-form-label required" %>
        <%= f.collection_select :size_id, Size.order(:name), :id, :size_with_price,{ include_blank: true }, { class: "btn btn-outline-secondary dropdown-toggle", style: "font-size: 18px" } %>
    </div>
    
    <div class="row mt-5 actions">
        <!--btns-->
        <div class="btn col-lg-6">
            <%= link_to 'Cancel', system_item_sizes_path, class: "btn btn-outline-success ", style: "padding-top: 7px; font-size: 18px;" %>
        </div>

        <div class="btn col-lg-6">
            <%= f.submit "Save", class: "btn btn-outline-success ", style: "padding-top: 7px;font-size: 18px;" %>
        </div>
    </div>
<% end %>
