<div class="show-card">
    <div class="row">
        <div class="col-md-5">
            <h2 class="details-tab card-title">Basic Info</h2>
        </div>
        <div class="col-md-4">
            <%= link_to "View PDF", system_receipt_path(@receipt, format: :pdf), class: "btn btn-outline-success ", 
            type: "button" %>
        </div>    
    </div>

    <form>
        <div class="form-group row">
            <label for="formGroupExampleInput2" class="col-md-2 col-form-label">Id</label>
            <input type="text" class="form-control" id="form-label" value="<%= @receipt.id %>" disabled>
        </div>

        <div class="form-group row">
            <label for="formGroupExampleInput2" class="col-md-2 col-form-label">Customer</label>
            <%= link_to @receipt.customerName, system_customer_path(@receipt.customer_id), 
                style: "color: green;", class: "form-control", type: "text" %>
        </div>

        <div class="form-group row">
            <label for="formGroupExampleInput2" class="col-md-2 col-form-label">Branch</label>
            <%= link_to @receipt.branchName, system_branch_path(@receipt.branch_id), style: "color: green;", 
                class: "form-control", type: "text" %>
        </div>

        <div class="form-group row">
            <label for="formGroupExampleInput2" class="col-md-2 col-form-label">System User</label>
            <%= link_to @receipt.userName, users_index_path, style: "color: green;", class: "form-control", type: "text" %>
        </div>

        <div class="form-group row">
            <label for="formGroupExampleInput2" class="col-md-2 col-form-label">Receipt #</label>
            <input class="form-control" id="form-label" type="text" value="<%= @receipt.number %>" disabled>
        </div>

        <div class="form-group row">
            <label for="formGroupExampleInput2" class="col-md-2 col-form-label">Total Price</label>
            <input class="form-control" id="form-label" type="text" value="<%= @receipt.total_price %>" disabled>
        </div>

        <div class="form-group row">
            <label for="formGroupExampleInput2" class="col-md-2 col-form-label">Redeemed cash (L.E)</label>
            <% if @points_movement %>
                <input class="form-control" type="text" 
                value="<%= @points_movement.redeemed * Setting.find_by(key: :points_to_cash).description.to_f %> L.E" disabled>
            <% else %>
                <input class="form-control" type="text" value="0 L.E" disabled>
            <% end %>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label">Created at</label>
            <input class="form-control" type="text" value="<%= @receipt.created_at.strftime("%I:%M %p %a, %d %b %Y") %>" disabled>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label">Updated at</label>
            <input class="form-control" type="text" value="<%= @receipt.updated_at.strftime("%I:%M %p %a, %d %b %Y") %>" disabled>
        </div>

        <div class="form-group row mb-5 pb-5">
            <div class="col-lg-12">
                <%= link_to "Back", system_receipts_path, class: "btn btn-outline-success back-btn" %>
            </div>
        </div>
    </form>
</div>