<style>
    h3 {
        font-size: .8vw;
        text-align: center;
    }
</style>


<div class="col-lg-5" style="margin-left:140px;">
    <div class="row" style="color:red;margin-left:240px;">    
        <h3>
        To search for create date please use the following format:<br>
        ex: "Sun, 1 Jan 2021"
        </h3>
    </div>
    <div class="row">
        <div class="col-md-5 main-btns">
            <%= link_to "Clear Search", system_notifications_path, class: "btn btn-outline-success", type: "button" %>
        </div>
        <div class="col-md-3">
            <div class="row mb-1">
                <%= form_for "", url: system_notifications_path, role: "search", method: :get do %>
                    <%= text_field_tag :search, @search_term, placeholder: "Search by id or create date or is new", style: "text-align: center;" %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-5 main-btns" style="margin-left:auto; margin-top:30px;">
    <%= link_to "Add new Notification", new_system_notification_path, class: "btn btn-outline-success", style: "padding-top: 7px;" %>
</div>

<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Offer Id</th>
            <th scope="col">Is new</th>
            <th scope="col">Create date</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @notifications.each do |notification| %>
        <tr>
            <th scope="row">
                <%= link_to notification.id, system_notification_path(notification), style: "color: green" %>
            </th>
            <td><%= link_to notification.title, system_notification_path(notification), style: "color: green" %></td>
            <% if notification.offer_id %>
                <td><%= link_to notification.offer_id, system_offer_path(notification.offer_id), style: "color: green" %></td>
            <% else %>
                <td><%= nil %></td>    
            <% end %>
            <td><%= notification.is_new_attr %></td>    
            <td><%= notification.create_date.strftime("%I:%M %p %a, %d %b %Y") %></td>
            <td class="table-action">
                <%= link_to '', system_notification_path(notification), class: "fa fa-eye" %>
                <%= link_to '', edit_system_notification_path(notification), class: "fa fa-edit" %>
                <%= link_to '', system_notification_path(notification), class: "fa fa-trash", method: :delete, data: {confirm: "Are you sure?"} %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
