<div class="col-lg-7">
    <div class="row">
        <div class="col-md-3 main-btns">
            <%= link_to "Clear Search", system_categories_path, class: "btn btn-outline-success btn-sm", type: "button" %>
        </div>
        <div class="col-md-4">
            <%= form_for "", url: system_categories_path, role: "search", method: :get do %>
                <%= text_field_tag :search, @search_term, placeholder: "Search by id or name or brand", style: "text-align: center;" %>
            <% end %>
        </div>
    </div>
</div>

<div class="col-lg-5 main-btns">
    <%= link_to "Add new Category", new_system_category_path, class: "btn btn-outline-success btn-sm", style: "padding-top: 7px;", type: "button" %>
    <%= link_to "Export as PDF", system_categories_path(format: :pdf, page: params[:page]), class: "btn btn-outline-success btn-sm", type: "button"  %>
</div>

<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Created At</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @categories.each do |category| %>
        <tr>
            <th scope="row">
                <%= link_to category.id, system_category_path(category), style: "color: green" %>
            </th>
            <td><%= link_to category.name, system_category_path(category), style: "color: green" %></td>
            <td><%= link_to category.brandName, system_brand_path(category.brand), style: "color: green" %></td>
            <td><%= category.created_at.strftime("%A, %d %b %Y @ %H:%M:%S") %></td>
            <td class="table-action">
                <%= link_to '', system_category_path(category), class: "fa fa-eye" %>
                <%= link_to '', edit_system_category_path(category), class: "fa fa-edit" %>
                <%= link_to '', system_category_path(category), class: "fa fa-trash", method: :delete, data: {confirm: "Are you sure?"} %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>