    <div class="col-lg-7">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Name</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Created at</a>
                <a class="dropdown-item" href="#">Updated at</a>
            </div>
        </div>
        <span class="input-group-text input-search" id="addon-wrapping"><i class="fa fa-search"></i> </span>
        <input type="text" class="form-control" aria-label="Text input with dropdown button">
    </div>
</div>
<div class="col-lg-5 main-btns">
    <%= link_to "Add new Category", new_system_category_path, class: "btn btn-outline-success btn-sm", style: "padding-top: 7px;", type: "button" %>
    <button class="btn btn-outline-success btn-sm" type="button">Export as PDF</button>
    <button class="btn btn-outline-success btn-sm" type="button">Export as Excel</button>
</div>

<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Category</th>
            <th scope="col">Brand</th>
            <th scope="col">Created At</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @categories.each do |category| %>
        <tr>
            <th scope="row">
                <%= link_to category.id, system_category_path(category), style: "color: green" %>
            </th>
            <td><%= link_to category.name, system_category_path(category), style: "color: green" %></td>
            <td><%= link_to category.brandName, system_brand_path(category.brand), style: "color: green" %></td>
            <td><%= category.created_at.strftime("%A, %d %b %Y @ %H:%M:%S") %></td>
            <td class="table-action">
                <%= link_to '', system_category_path(category), class: "fa fa-eye" %>
                <%= link_to '', edit_system_category_path(category), class: "fa fa-edit" %>
                <%= link_to '', system_category_path(category), class: "fa fa-trash", method: :delete, data: {confirm: "Are you sure?"} %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>