<div class="col-lg-5" style="margin-left:140px;">
    <div class="row">
        <div class="col-md-5 main-btns">
            <%#= link_to "Clear Search", system_daily_points_movements_path, class: "btn btn-outline-success", type: "button" %>
        </div>
        <div class="col-md-3">
            <div class="row mb-1">
                <%= form_with(model: Branch, url: system_branches_path) do |f| %>
                        <%= f.collection_select :branch_id, Branch.order(:name), :id, :name,{ include_blank: "Select a branch" }, 
                        { class: "dropdown-toggle", style: "font-size: 18px; min-width: 30%;color:green;" } %>
                <% end %>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-5 main-btns">
    <%= link_to "View PDF", system_daily_points_movements_path(format: :pdf, page: params[:page]), 
        class: "btn btn-outline-success", type: "button"  %>
</div>

<% @branches.each do |branch| %>
    <button class="accordion" id="branch_<%= branch.id %>"><%= branch.name %></button>
    <div class="panel" id="panel-branch_<%= branch.id %>">
        <table class="table mt-2">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Earned</th>
                    <th scope="col">Redeemed</th>
                    <th scope="col">Redeemed To Cash</th>
                    <th scope="col">Total Points</th>
                </tr>
            </thead>
            <tbody>
                <%#= @daily_points_movements %>
                <h4>branch_id: <%= branch.id %></h4>
                <% @daily_points_movements.each do |dpm| %>
                    <% if dpm[:branch_id] == branch.id %>
                        <h4>dpm[:branch_id]: <%= dpm[:branch_id] %></h4>
                        <tr>
                            <td>
                                <%= dpm[:date_time].strftime("%A, %d %b %Y") %>
                                
                            </td>
                            <td>
                                <%= dpm[:earned] %>
                            </td>
                            <td>
                                <%= dpm[:redeemed] %>
                            </td>
                            <td>
                                <%= dpm[:redeemed] * Setting.find_by(key: :points_to_cash).description.to_f %>
                            </td>
                            <td>
                                <%= dpm[:total] %>
                            </td>
                        </tr>
                        <% @daily_points_movements.shift %>
                    <% end %>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>

<script>
    var acc = document.getElementsByClassName("accordion");

    for (var i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("ac");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
        } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
        } 
    });
    }

    var dropdown = document.getElementById("branch_branch_id");
    
    dropdown.addEventListener("change", function(){
        var dropdown_option = dropdown.options.selectedIndex;
        var accordion_selected = document.getElementById(`branch_${dropdown_option}`);
        var panel_selected = document.getElementById(`panel-branch_${dropdown_option}`);
        console.log("accordion_selected = ", accordion_selected);
        console.log("panel_selected = ", panel_selected);
        var accordion = document.getElementsByClassName("accordion");
        var panel = document.getElementsByClassName("panel");
        for (var i=0; i < accordion.length; i++){
            if (accordion[i].id != accordion_selected.id){
                accordion[i].style.display = "none";
                panel[i].style.display = "none";
            }
            else{
                accordion[i].style.display = "block";
                panel[i].style.display = "block";
            }
        }
    });

    // $(document).ready( function () {
    //     $('#table_id').DataTable();
    // } );

    // This file is required by the index.html file and will
    // be executed in the renderer process for that window.
    // All of the Node.js APIs are available in this process.
    // window.$ = window.jquery = require('./node_modules/jquery');
    // window.dt = require('./node_modules/datatables.net')();
    // window.$('#table_id').DataTable();

    // $.extend( $.fn.dataTable.defaults, {
    // searching: true,
    // ordering:  false
    // } );

</script>