<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Customer</th>
            <th scope="col">Branch</th>
            <th scope="col">System User</th>
            <th scope="col">Earned</th>
            <th scope="col">Redeemed</th>
            <th scope="col">Total Points</th>
        </tr>
    </thead>
    <tbody>
        <% @points_movements.each do |points_movement| %>
        <tr>
            <th scope="row">
                <%= link_to points_movement.id, system_points_movement_path(points_movement), style: "color: green" %>
            </th>
            <td><%= link_to points_movement.customerName, system_customer_path(points_movement.customer_id), style: "color: green" %></td>
            <td><%= link_to points_movement.branchName, system_branch_path(points_movement.branch_id), style: "color: green" %></td>    
            <td><%= link_to points_movement.userName, system_users_index_path, style: "color: green" %></td>
            <td><%= points_movement.earned %></td>
            <td><%= -points_movement.redeemed %></td>
            <td><%= points_movement.total %></td>
        </tr>
    <% end %>
    </tbody>
</table>
