<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Customer</th>
            <th scope="col">Branch</th>
            <th scope="col">System User</th>
            <th scope="col">Earned</th>
            <th scope="col">Redeemed</th>
            <th scope="col">Total Points</th>
            <th scope="col">Create Date</th>
        </tr>
    </thead>
    <tbody>
        <% @points_movements.each do |points_movement| %>
        <tr>
            <th scope="row">
                <%= points_movement.id %>
            </th>
            <td><%= points_movement.customerName %></td>
            <td><%= points_movement.branchName %></td>    
            <td><%= points_movement.userName %></td>
            <td><%= points_movement.earned %></td>
            <td><%= -points_movement.redeemed %></td>
            <td><%= points_movement.total %></td>
            <td><%= points_movement.date_time.strftime("%l %p - %d/%m/%Y") %></td>
        </tr>
    <% end %>
    </tbody>
</table>
