<!DOCTYPE html>
<html>
  <head>
    <title>Green</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <!--Bootstrap link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!--Bootstrap link-->
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous">
    <!--Font Awesome-->
    <!--Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Material Icons-->
    <!--Font family-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">



    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "system/shared/navbar" %>
        <div class="col-md-3 side-nav-col">
          <%= render "system/shared/sidebar" %>
        </div>
        <div class="col-md-9">
          <div class="row">
            <!-- <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p> -->
          </div>
          <div class="row mt-4">
            <%= render 'system/shared/filter_search' if (controller_name != 'static_pages' and action_name == 'index') %>
            <%#= render 'system/shared/buttons' if (controller_name != 'static_pages' and action_name == 'index') %>
          </div>
          <div class="row">
            <%= yield %>
          </div>
          <%= render 'system/shared/pagination' if (controller_name != 'static_pages' and action_name == 'index') %>
          <%= yield :customers_index %>
          <%= yield :city_index %>
          <%= render 'system/shared/footer' %>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8 " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js " integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p " crossorigin="anonymous "></script>
    <script src="https://unpkg.com/@popperjs/core@2 "></script>
  </body>
</html>
