<!DOCTYPE html>
<html>
  <head>
    <title>Green</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 side-nav-col">
            <%= render "system/shared/sidebar" %>
          </div>
        <div class="col-md-9">
          <div class="row">
            <%= render "system/shared/navbar" %>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
        <footer class="footer" id="footer_id">
          <p> Green Copyright © 2021 </p>
        </footer>
      </div>
    </div>
  </body>
</html>
