<!DOCTYPE html>
<html>
  <head>
    <title>Green</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    

  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container-fluid">
      <%= yield :login %>
      <div class="row">
        <!-- system_user_signed_in? : <%#= debug system_user_signed_in? %> -->
        <% if system_user_signed_in? %>
          <%= render "system/shared/navbar" %>
        <% end %>
        <div class="row">
          <div class="col-md-3 side-nav-col">
            <% if system_user_signed_in? %>
              <%= render "system/shared/sidebar" %>
            <% end %>
          </div>
          <div class="col-md-9">
            <% if !controller_name.eql?("sesssions") and !action_name.eql?('new') %>
              <div class="row">
                <% flash.each do |type, msg| %>
                  <% if type.eql?("notice") %>
                    <p class="notice" style="color:#00AB47;"><%= msg %></p>
                  <% else %>
                    <p class="alert" style="color: red;"><%= msg %></p>
                  <% end %>  
                <% end %>
              </div>
            <% end %>
            
            <% if action_name.eql?('index') %>
              <div class="row">
                <%= yield %>
              </div>
            <% else %>
              <%= yield %>
            <% end %>
            <% if !controller_name.eql?('static_pages') and action_name.eql?('index') %>
              <div class="row">
                <%= render 'system/shared/pagination' %>
              </div>
            <% end %>
            <%= render 'system/shared/footer' %>
          </div>
        </div>
      </div>
    </div>
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>
