<!DOCTYPE html>
<html>
  <head>
    <title>Green</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag Ckeditor.cdn_url %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "system/shared/navbar" %>
        <div class="row">
          <div class="col-md-3 side-nav-col">
          <%= render "system/shared/sidebar" %>
        </div>
        <div class="col-md-9">
          <%# byebug %>
          <% if action_name.eql?('index') %>
            <div class="row">
              <%= yield %>
            </div>
          <% else %>
            <%= yield %>
          <% end %>
          <%= render 'system/shared/pagination' %>
          <%= render 'system/shared/footer' %>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
